/* This is an element selector and it will apply to body tag */
body {
    color: blue;
}

/* This will apply to both h1 and h2 */
h1,
h2 {
    font-size: 2rem;
}

/* This will apply to any h2 that is inside an h1 */
h1 h2 {
    font-size: 1rem;
}